#config
dotenv

# FastAPI & Server
fastapi
uvicorn[standard]

# Database
sqlalchemy

# Configuration
python-dotenv

# LLM & LangChain
openai
langchain
langchain-openai
langchain-community
langgraph
google-generativeai

# External APIs & Tools
requests
google-api-python-client
youtube-transcript-api
tavily-python
arxiv
pymupdf
pytube
mysql-connector-python